torch==2.4.1
torchvision==0.19.1
numpy==1.26.4
scipy==1.14.1
pandas==2.2.3
matplotlib==3.9.4
opencv-python-headless==4.10.0.84
albumentations==1.4.24
nibabel==5.3.2
scikit-image==0.24.0
open_clip_torch==2.23.0
transformers==4.35.2
huggingface_hub==0.25.2
safetensors==0.4.5
thop==0.1.1.post2209072238
torchsummary==1.5.1
tensorboard==2.18.0
icecream==2.1.3
